<mat-card class="alin">Assigned Patients</mat-card>
<div class="scrol">
    <mat-card>
      <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Patient Name</th>
            <th>Patient Email</th>
            <th>Patient Contact</th>
            <th>Patient Address</th>
            <th>Patient Status</th>
            <th>Assigned Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="asdoc">
        </tbody>
      </table>
    </mat-card>
  </div>