<mat-card class="alin">Doctor Details</mat-card>
<div class="scrol">
  <mat-card>
    <table class="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email-Id</th>
          <th>Doctor Id</th>
          <th>Address</th>
          <th>Mobile Number</th>
          <th>Specialization</th>
          <th>Gender</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="vdoc">
      </tbody>
    </table>
  </mat-card>
</div>
