<mat-card class="alin">Prescription Lists</mat-card>
<div class="scrol">
  <mat-card>
    <table class="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Patient Name</th>
          <th>Patient Email</th>
          <th>Blood Pressure</th>
          <th>Doctor Name</th>
          <th>Doctor Email</th>
          <th>Presc.Date</th>
          <th>Medicine type</th>
          <th>Instructions</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="vdoc">
      </tbody>
    </table>
  </mat-card>
</div>
