<!-- <table>
    <tr>
        <td style="width: 500px; height: 500px;"><canvas id="lineChart"></canvas></td>
        <td style="width: 500px; height: 500px;"><canvas id="barChart"></canvas></td>
    </tr>
</table> -->
<div id="chart"><canvas id="barChart"></canvas></div>
<div class="col-sm-3 box">
  <h4 class="clr">Doctors</h4>
  <br>
  Over all doctors: {{ doctorCount }}
</div>
<div class="col-sm-3 box">
  <h4 class="clr">Patients</h4>
  <br>
  Over all patients: {{ patientCount }}
</div>
<div class="col-sm-3 box">
    <h4 class="clr">Receptionist</h4>
    <br>
    Over all receptionist: {{ recepCount }}
</div>
<div class="col-sm-3 box">
    <h4 class="clr">Therapist</h4>
    <br>
    Over all therapist: {{ therapCount }}
</div>
<div class="col-sm-3 box">
    <h4 class="clr">Prescription</h4>
    <br>
    Over all prescription: {{ prescLength }}
</div>
<div class="col-sm-3 box">
    <h4 class="clr">Medical History</h4>
    <br>
    Over all Medical History:
</div>
