<!-- <div class="col-sm-3 box">Doctors</div>
<div class="col-sm-3 box">Patients</div>
<div class="col-sm-3 box">Receptionist</div>
<div class="col-sm-3 box">Therapist</div>
<div class="col-sm-3 box">Prescription</div>
<div class="col-sm-3 box">Medical History</div> -->
<div id="chart"><canvas id="barChart"></canvas></div>
<div class="col-sm-3 box">
    <h4 class="clr">Patients</h4>
    <br>
    Assigned Patients: {{ assignedPat }}
</div>
<div class="col-sm-3 box">
    <h4 class="clr">Prescription</h4>
    <br>
    Prescription: {{ PrescriptionByDoc }}
</div>
<div class="col-sm-3 box">
    <h4 class="clr">Medical History</h4>
    <br>
    Medical History:
</div>